<div class="container text-center">
    <h2>AKORD CWA</h2>
      <p>
        Zespół Akord.CWA to dwie osoby, dla których muzyka stanowi od wielu lat ogromną pasję.
    Gramy głównie polską muzykę dla każdego, dla ludzi starszych i młodszych, począwszy od utworów z lat 60-tych, po najnowsze hity muzyki rozrywkowej. Disco polo, pop, rock - te gatunki znajdziecie Państwo w naszych propozycjach.
    Obsługujemy wesela (na życzenie możliwa także oprawa Mszy św. ślubnej w kościele), rodzinne uroczystości jubileuszowe, zabawy w lokalach i plenerze.
    Pragniemy zagwarantować Państwu jak najlepszą rozrywkę, dlatego też indywidualne podchodzimy do każdego klienta. Każdą imprezę szczegółowo omawiamy i dopracowujemy we współpracy
    z organizatorami, co pozwala na świetną zabawę i pozostawienie wielu wrażeń.
    Wracający klienci to chyba najlepsza rekomendacja.
      </p>
      <br>
    <div class ="row">
      <div class="row">
        <div class="col-sm-6 slideanimup">
          <p class="text-center"><strong>Dominika</strong></p><br>
          <a href="#demo" data-toggle="collapse">
            <img src={{ profiloweD.obraz.url }} class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
            <p>Wokal</p>
        </div>

        <div class="col-sm-6 slideanimup">
          <p class="text-center"><strong>Łukasz</strong></p><br>
          <a href="#demo2" data-toggle="collapse">
            <img src={{ profiloweL.obraz.url }} class="img-circle person" alt="Random Name" width="255" height="255">
          </a>
            <p>Klawisze</p>
            <p>Wokal</p>
        </div>
      </div>

      </div>
</div>