

<div class="container">
    <div class="text-center">
       <h2>Wideo</h2>
    <p >Poniżej fragmenty piosenek w naszym wykonaniu
    </p>
    <p>
        (większość z nich to wersja NA ŻYWO - utwory zostały nagrane w czasie ostatnich zabaw)
    </p>
    </div>


    {% for my_video in videos %}
    <div class="row slideanimleft ">
        {% autoescape off %}
        {{ my_video.url }}
        {% endautoescape %}
    </div>
    {% endfor %}


	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content bmd-modalContent">

				<div class="modal-body">

          <div class="close-button">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="embed-responsive embed-responsive-16by9">
					            <iframe class="embed-responsive-item" frameborder="0"></iframe>
          </div>
				</div>

			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>


<script>
(function($) {

    $.fn.bmdIframe = function( options ) {
        var self = this;
        var settings = $.extend({
            classBtn: '.bmd-modalButton',
            defaultW: 640,
            defaultH: 360
        }, options );

        $(settings.classBtn).on('click', function(e) {
          var allowFullscreen = $(this).attr('data-bmdVideoFullscreen') || false;

          var dataVideo = {
            'src': $(this).attr('data-bmdSrc'),
            'height': $(this).attr('data-bmdHeight') || settings.defaultH,
            'width': $(this).attr('data-bmdWidth') || settings.defaultW
          };

          if ( allowFullscreen ) dataVideo.allowfullscreen = "";

          // stampiamo i nostri dati nell'iframe
          $(self).find("iframe").attr(dataVideo);
        });

        // se si chiude la modale resettiamo i dati dell'iframe per impedire ad un video di continuare a riprodursi anche quando la modale è chiusa
        this.on('hidden.bs.modal', function(){
          $(this).find('iframe').html("").attr("src", "");
        });

        return this;
    };

})(jQuery);




jQuery(document).ready(function(){
  jQuery("#myModal").bmdIframe();
});
</script>

